
<app-navbar></app-navbar>
<div class="container my-5">
    <h1>{{page_title}}</h1>
    <img src="../../../assets/img/HTML-404-Error-Page.gif" alt="">
    <h2>Algo ha salido mal. </h2>
    <h3>Por favor repite el proceso sin que cundas en el pánico.</h3> 
</div>

<app-footer></app-footer>