.card-title {
    text-transform: capitalize;
    text-align: center;
}
.cartel{
    /*width: 220px !important;*/
    transition: transform .2s; /* Animation */
   
}

.cartel:hover{
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    .cartelera {
        width: 50%;
    }
   
}