<div class="container">

    <!-- barra de navegación-->
    <app-navbar></app-navbar>
    <h4 class="w-100 text-uppercase text-dark ">{{page_title}}</h4>
    <!--not loading-->
    <div class="col-11" *ngIf="!loading">
        <img class="card-img-top"  src="../../../assets/img/redLigths.gif" alt="Loading">
    </div>

    <!--not films (al hacer una busqueda puede no haber resultados)-->
    <div class="col-11" *ngIf="vacio">
        <h4 class="w-100 text-danger ">T_T No hay coincidencias...  Prueba otra vez !!</h4>
        <img class="card-img-top"  src="../../../assets/img/crazyPony.gif" alt="Loading">
    </div>

    <!-- all films order by date created desc-->
    <div class="row justify-content-lg-justify  py-2" *ngIf="loading">

        <div class="col-lg-3 cartelera" *ngFor="let film of films">
            <div class="w-100 text-white cartel "  >
                <img class="card-img-top poster" [routerLink]="['/desc', film._id]"  src="https://i.imgur.com/{{film.img}}" alt="Poster film" width="180px">
                <h5 class="card-title p-1 title" >{{film.title}}</h5>
            </div>
        </div>
    </div>

    <!-- Pagination --> 
    <ul class="pagination justify-content-center" *ngIf="!noPaginate">
        <li class="page-item " >                                    <!-- [routerLink]="['/'+genre+'/', prev_page]"-->
            <a class="page-link bg-dark text-danger border-dark" (click)="goToGenrePaginate(prev_page)" >
                <span aria-hidden="true" aria-disabled="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of number_pages">  <!-- [routerLink]="['/'+genre+'/', page]" -->
            <a class="page-link bg-dark text-danger border-dark"  (click)="goToGenrePaginate(page)" >{{page}}</a>
        </li>
        <li class="page-item ">                                 <!--  [routerLink]="['/'+genre+'/', next_page]"-->
            <a class="page-link bg-dark text-danger border-dark" (click)="goToGenrePaginate(next_page)" >
                <span aria-hidden="true" aria-disabled="true">&raquo;</span>
            </a>
        </li>
    </ul>
  

</div><!--end container-->
<router-outlet></router-outlet>
<app-footer></app-footer>
