
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	
}
.contenedor{
    position: relative;
    display: inline-block;
	text-align: center;
	margin-bottom: 3em;
}

.contenedor img {
	opacity: 0.5;
}
 
.textoYe, #accordion, .desc, .footer{
	color: white;
}

.footer{
	width: 100%;
	background-color: black;
}

