
<div class="container">
	<div class="contenedor mt-6">
		<img src="../../../assets/img/2013_movies_wallpaper_by_z_designs-d5u94o3.jpg" />
		<div class="centrado">
			<div class="textoYe my-3" >
				<p class="h1 text-center">Películas, documentales y series que Ye &Co. quiera !</p>
				<p class="h5 text-center">¡¡Servicio de uso privado !!</p>
			</div>	
			<div class="d-flex justify-content-center my-5">
				<button type="button" class="btn btn-danger btn-lg" [routerLink]="['/']">Quiero verlo!</button>
			</div>
		</div>
	</div>

	<div id="accordion">
	  <div class="card bg-dark my-4">
	    <div class="card-header" id="headingOne">
	      <h5 class="mb-0">
	        <button class="btn btn-link desc collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          ¿Qué es Yetflix?
	        </button>
	      </h5>
	    </div>

	    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
	      <div class="card-body">
	        Yetflix es un servicio de streaming privado que ofrece una amplia variedad de series, películas, títulos de anime, documentales y otros contenidos premiados en miles de dispositivos conectados a Internet.

			Este servicio es de uso personal y privado y en ningún momento se da acceso y/o autorización para hacer público parte ni totalidad del contenido que aquí pueda encontrar, cayendo total responsabilidad bajo la persona que haga caso omiso de los derechos de autor que se contenga.
	      </div>
	    </div>
	  </div>
	  <div class="card bg-dark my-4">
	    <div class="card-header" id="headingTwo">
	      <h5 class="mb-0">
	        <button class="btn btn-link desc collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          ¿Dónde puedo ver Yetflix?
	        </button>
	      </h5>
	    </div>
	    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
	      <div class="card-body">
	        Disfruta donde quieras y cuando quieras en un número ilimitado de dispositivos. Inicia sesión con tu cuenta de Yetflix para disfrutar al instante de todo el contenido desde tu ordenador personal o en cualquier dispositivo conectado a Internet.
	      </div>
	    </div>
	  </div>
	  <div class="card bg-dark my-4">
	    <div class="card-header" id="headingThree">
	      <h5 class="mb-0">
	        <button class="btn btn-link desc collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          ¿Podría disfrutar de Yetflix? ¡Puedo pagar!
	        </button>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
	      <div class="card-body">
	        No.
	        Yetflix es una plataforma de streaming privada y en ningún momento se ha ofrecido o se ofreceran suscripciones a este servicio.
	        Podrás tener acceso a información referente al contenido pero no a su visualización, este derecho es de uso personal y exclusivo para su fundad@r.
	      </div>
	    </div>
	  </div>
	  <div class="card bg-dark my-4">
	    <div class="card-header" id="headingThree">
	      <h5 class="mb-0">
	        <button class="btn btn-link desc collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
	          Entonces ¿Cuál es la finalidad de Yetflix?
	        </button>
	      </h5>
	    </div>
	    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
	      <div class="card-body">
	        Para el afortunad@ que fundó Yetflix su funcionalidad es muy valiosa.
	        Puede disfrutar de su videoteca privada allá donde esté y mediante cualquier dispositivo con conexión a internet.
	        Sus objetivos profesionales son enormes, desarrollando una plataforma puntera con tecnologías innovadoras. 
	      </div>
	    </div>
	  </div>
	</div>

	<div class="card footer text-center my-2">
	  <div class="card-body">
	    <p class="card-text">Gracias por pasarte por aquí.</p>
	    <a href="https://yemafe.000webhostapp.com/experiences" target="_blank" class="btn btn-outline-dark ">Yemafe CV</a>
	  </div>
	</div>

	
</div>
<app-footer></app-footer>



