<!-- barra de navegación-->
<app-navbar></app-navbar>
    <body>
        <div class="container"> 
            <h2 class="w-100 text-uppercase text-dark py-5 text-center">{{page_title}}</h2>
            <h4 class="text-danger" *ngIf='reports.length != 0'>Avisos activos</h4>
            <table class="table text-center " *ngIf='reports.length != 0' >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Estado</th>
                    <th scope="col"> </th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let report of reports">
                        <th scope="row">{{report.date | date: 'short'}}</th>
                        <td>{{report.user.nick}}</td>
                        <td>{{report.action}}</td>
                        <td>
                           <a class="card-img-top poster text-info" [routerLink]="['/desc', report.film._id]">{{report.film.title}}</a> 
                        </td>
                        <td>{{report.state}}</td>
                        <td>
                            <button type="button" id="btnWarning" class="btn btn-success mr-2" data-toggle="tooltip" data-placement="top" 
                                    title="Completado"
                                    (click)="updateComplete( report._id, 'C', report.film.title)">
                                    <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                                    </svg>
                            </button>
                           
                            <button type="button" id="btnWarning" class="btn btn-danger" data-toggle="tooltip" data-placement="top" 
                                        title="Descartar"
                                        (click)="updateComplete( report._id, 'B', report.film.title)">
                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 016 6v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm2.5 0a.5.5 0 01.5.5v6a.5.5 0 01-1 0V6a.5.5 0 01.5-.5zm3 .5a.5.5 0 00-1 0v6a.5.5 0 001 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 01-1 1H13v9a2 2 0 01-2 2H5a2 2 0 01-2-2V4h-.5a1 1 0 01-1-1V2a1 1 0 011-1H6a1 1 0 011-1h2a1 1 0 011 1h3.5a1 1 0 011 1v1zM4.118 4L4 4.059V13a1 1 0 001 1h6a1 1 0 001-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" clip-rule="evenodd"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- completos y borrados-->
            <h5 class="text-danger" *ngIf='othersReports'>Avisos Completos y Borrados</h5>
            <table class="table text-center pb-4" *ngIf='othersReports.length != 0'>
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Pelicula</th>
                    <th scope="col">Estado</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let others of othersReports">
                        <th scope="row">{{others.date | date: 'short'}}</th>
                        <td>{{others.user.nick}}</td>
                        <td>{{others.action}}</td>
                        <td>
                            <a class="card-img-top poster text-info" [routerLink]="['/desc', others.film._id]">{{others.film.title}}</a>
                        </td>
                        <td>{{others.state}}</td>
                    </tr>
                </tbody>
            </table>  
        </div>
        <div class="card my-4"> </div>
    </body>
<router-outlet></router-outlet>
<app-footer></app-footer>
