
nav, .dropdown-menu{
    background-color: black !important; 
    border-bottom: 1px solid;
}
nav a{
    color: white !important;
}

nav a:hover{
    color: #dc3545 !important;
}

/*
.dropdown-item:focus, .dropdown-item:hover{
    background-color: #6c757d !important;
}*/
.logout{
    border-top: #dc3545 1px solid;
    background-color:black ;
    padding-top: 5px;
}

.userNick, .genresList{
    text-transform: capitalize;
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    .invisibleDevice{
        display: none;
    }  
   
}


