
<div class="container ">
	<nav class="navbar mb-5 border-danger rounded navbar-expand-lm navbar-expand-sm  navbar-collapse-sm py-3" >
	    <a class="navbar-brand logo " [routerLink]="['/']">
	      <img src="../../../assets/img/yetflix_logo.png" width="90" height="30" alt="">
		</a>
	    <div class="navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item btn btn-outline-transparent">
				<a class="nav-link invisibleDevice  " [routerLink]="['/']" >Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item dropdown btn btn-outline-transparent ">
					<a class="nav-link dropdown-toggle " role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Géneros
					</a>
					<div class="dropdown-menu " aria-labelledby="navbarDropdown"  >    <!-- [routerLink]="['/'+genre]"-->
						<a class="dropdown-item bg-dark genresList"  (click)="goToGenre(genre)"  *ngFor="let genre of genres">{{genre}}</a>
					</div>
				</li>
				<li class="nav-item btn btn-outline-transparent "  *ngIf="identity">
					<a class="nav-link invisibleDevice" role="button" href="https://verliga1.net/"  target="_blank" (click)="goToaddActivity('TV online','')" aria-haspopup="true" aria-expanded="false">Tv Online</a>
				</li>
				<li class="nav-item btn btn-outline-transparent "  *ngIf="identity">
					<a class="nav-link invisibleDevice" role="button" href="https://www.documaniatv.com/documentales-naturaleza-videos-1-date.html"  target="_blank" (click)="goToaddActivity('documentales','')" aria-haspopup="true" aria-expanded="false">Documentales</a>
				</li>
			</ul>
			 <!-- campo de búsqueda-->
			<form class="form-inline   invisibleDevice" #searchForm ="ngForm" >
				<input class="form-control mr-sm-2 bg-dark text-white" type="search" placeholder="¿Buscas una peli?" aria-label="Search" 
				name="busqueda" #busqueda="ngModel" [(ngModel)] = "search">
				<button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit" (click)="goToSearch()">Buscar</button>
			</form>
			
			<ul class="navbar-nav navbar-right ">
				<li class="nav-item btn btn-outline-dark" *ngIf="!identity">
					<a class="nav-link" [routerLink]="['/login']">Login</a>
				</li>
				<li class="nav-item dropdown btn btn-outline-transparent" *ngIf="identity">
					<a class="nav-link dropdown-toggle userNick" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{identity.nick}}
					</a>
					<div class="dropdown-menu back text-center" aria-labelledby="navbarDropdown">
						<a class="dropdown-item bg-dark" [routerLink]="['/reports']" *ngIf="vip" (click)="goToaddActivity('Listado avisos','')">
							<svg  id="bell" class="bi bi-bell-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
							</svg>
							Avisos 
						</a>
						<a class="dropdown-item bg-dark" [routerLink]="['/activities']" *ngIf="vip" (click)="goToaddActivity('registro de actividad','')">
							<svg class="bi bi-graph-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h1v16H0V0zm1 15h15v1H1v-1z"/>
								<path fill-rule="evenodd" d="M14.39 4.312L10.041 9.75 7 6.707l-3.646 3.647-.708-.708L7 5.293 9.959 8.25l3.65-4.563.781.624z" clip-rule="evenodd"/>
								<path fill-rule="evenodd" d="M10 3.5a.5.5 0 01.5-.5h4a.5.5 0 01.5.5v4a.5.5 0 01-1 0V4h-3.5a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
							</svg>
							Actividad
						</a>
						<a class="dropdown-item bg-dark" [routerLink]="['/new']" *ngIf="vip"> Añadir película </a>
						<a class="dropdown-item bg-dark" [routerLink]="['/registro']" *ngIf="vip">Registrar Usuario</a>
						<a class="dropdown-item  logout"  [routerLink]="['/logout',1]" >Cerrar Sesión</a>
					</div>
				</li>
				<li class="nav-item" *ngIf="vip">
					<a [routerLink]="['/reports']" *ngIf="alert" (click)="goToaddActivity('Alerta avisos','')">
						<svg  id="bell" class="bi bi-bell-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
							<path d="M8 16a2 2 0 002-2H6a2 2 0 002 2zm.995-14.901a1 1 0 10-1.99 0A5.002 5.002 0 003 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
						</svg>
						
					</a>
				</li>
				
			</ul>
		</div>
	</nav>
<div>
