<app-navbar></app-navbar>
<body>
    <div class="container">
        <h1 class="py-1">{{page_title}}</h1>
        <div class="alert alert-success col md-5 my-2" *ngIf="status=='success'">
            Bien!!, Pelicula creada correctamente.
        </div>
        <div class="alert alert-danger col md-5 my-2" *ngIf="status=='error'">
            Algo ha salido mal!, No se ha posido crear la pelicula, vuelve a intentarlo.
        </div>

        
        <form class="col-lg-12 sm-6 py-4" #newFilmForm ="ngForm" (ngSubmit)="onSubmit(newFilmForm)">
            <div class="form-row ">
                <div class="form-group col-lg-6 col-sm-2">
                    <label for="title">Titulo *</label>                                                                 <!--  [a-zA-Z0-9À-ÿ\u00f1\u00d1\:\.\,\s]+  -->
                    <input type="text" name="title" #title="ngModel" [(ngModel)]="film.title" class="form-control" required pattern="[\W\a-z0-9]+"  >
                    <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                        Título NO válido! Prueba con minúsculas, números, punto, doble puntos y coma...
                    </small>
                </div>
                <div class="form-group col-lg-3 col-sm-1">
                    <label for="genre">Categoría </label>
                    <select class="custom-select" name="genre" #genre="ngModel" [(ngModel)]="film.genre" >
                        <option value="{{film.genre}}"> {{film.genre}} </option>
                        <option value=" "></option>
                        <option value="accion">Acción</option>
                        <option value="animacion">Animación</option>
                        <option value="anime">Anime</option>
                        <option value="aventuras">Aventuras</option>
                        <option value="belico">Bélico</option>
                        <option value="ficcion">Ciencia ficción</option>
                        <option value="comedia">Comedia</option>
                        <option value="drama">Drama</option>
                        <option value="intriga">Intriga</option>
                        <option value="musical">Musical</option>
                        <option value="romance">Romance</option>
                        <option value="terror">Terror</option>
                        <option value="western">Western</option>
                    </select>
                    <small *ngIf="!genre.valid && genre.touched" class="invalid-feedback d-block">
                        Categoría no válida.
                    </small>
                </div>
                <div class="form-group col-lg-1 col-sm-1">
                    <label for="year">Año</label>
                    <input type="text" name="year" #year="ngModel" [(ngModel)]="film.year" class="form-control"  pattern="[0-9\s]+">                
                    <small *ngIf="!year.valid && year.touched" class="invalid-feedback d-block">
                        Año no válido. Permitido números. 
                    </small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-10 col-sm-5">
                    <label for="synopsis">Sinopsis *</label>
                    <textarea class="form-control" name="synopsis" #synopsis="ngModel" [(ngModel)]="film.synopsis" rows="6" required pattern="[\W\w\r]+" maxlength="500"></textarea>
                    <small *ngIf="!synopsis.valid && synopsis.touched" class="invalid-feedback d-block">
                        Sinopsis no válida. Sólo letras, números, punto, doble puntos y coma. Máx 500 caractéres.
                    </small>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-lg-2 col-sm-1">
                    <label for="long">Duración</label>
                    <input type="text" name="long" #long="ngModel" [(ngModel)]="film.long" class="form-control"  pattern="[a-zA-Z0-9\s]+"  placeholder="1h 20min">
                    <small *ngIf="!long.valid && long.touched" class="invalid-feedback d-block">
                        Duración no válido. Permitido letras y números. 
                    </small>
                </div>
                
                <!--  -->
                <div class="form-group">
                    <label for="colection">Colección</label>
                    <input type="text" name="colection" #colection="ngModel" [(ngModel)]="film.colection" class="form-control" pattern="[a-z0-9\_\-\,\s]+" placeholder="saga, saga_compuesta">
                    <small *ngIf="!colection.valid && colection.touched" class="invalid-feedback d-block">
                        Minúsculas, separador de etiquetas coma.
                    </small>
                </div>
              
                <div class="form-group col-lg-2 col-sm-2">
                    <label for="director">Director</label>
                    <input type="text" name="director" #director="ngModel" [(ngModel)]="film.director" class="form-control" pattern="[\W\w]+">
                    
                    <small *ngIf="!director.valid && director.touched" class="invalid-feedback d-block">
                        Director no válido.
                    </small>
                </div>
                <div class="form-group col-lg-3 col-sm-2">
                    <label for="actor">Actor</label>
                    <input type="text" name="actor" #actor="ngModel" [(ngModel)]="film.actor" class="form-control" pattern="[\W\w]+">
                    <small class="text-muted">Si son varios sepáralos por coma.</small>
                    <small *ngIf="!actor.valid && actor.touched" class="invalid-feedback d-block">
                        Actor no válido.
                    </small>
                </div>
            </div>
            <hr>
            <div class="form-row">
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="trailer">Trailer de YouTube</label>
                    <small class="form-text text-muted pb-1">Busca un trailer para la peli y copia el link.</small>
                    <!--link youtube-->
                    <p><a class="btn btn-secondary btn-sm" href="https://www.youtube.com/" target="_blank"><i class="fas fa-envelope mr-3">A YouTube</i></a></p>
                    <input type="text" name="trailer" #trailer="ngModel" [(ngModel)]="film.trailer" class="form-control" >                          
                    <small *ngIf="!trailer.valid && trailer.touched" class="invalid-feedback d-block">
                        Trailer no válido.
                    </small>
                </div>
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="img">Imagen*</label>
                    <small class="form-text text-muted pb-1">Subir imagen (min 180x273) y copiar link (opción <b>BBCode</b>).</small>
                    <!--link Imgur servicio imagenes-->
                    <p><a class="btn btn-secondary btn-sm" href="https://imgur.com/upload?beta" target="_blank"><i class="fas fa-envelope mr-3">Subir imagen</i></a></p>
                    <input type="text" name="img" #img="ngModel" [(ngModel)]="film.img" class="form-control" required>
                    <small *ngIf="!img.valid && img.touched" class="invalid-feedback d-block">
                        Imagen no válido.
                    </small>
                </div>
            </div>
            <!-- Links  peliculas-->
            <div class="form-row">
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="uri">Link Opcion 1 Fembed </label>
                    <small class="form-text text-muted pb-1">Sube la peli (máx 10gb) y copia el link. (opción <b>Embed link</b>).  </small>
                    <!--link Fembed, servidor video-->
                    <p><a class="btn btn-secondary btn-sm" href="https://dash.fembed.com/" target="_blank"><i class="fas fa-envelope mr-3">Link Peli Fembed</i></a></p>
                    <input type="text" name="uri" #uri="ngModel" [(ngModel)]="film.uri" class="form-control">
                    <small *ngIf="!uri.valid && uri.touched" class="invalid-feedback d-block">
                        Video no válido.
                    </small>
                </div>
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="uri2">Link Opcion 2 MyStream  </label>
                    <small class="form-text text-muted pb-1">Sube la peli y copia el link directo. </small>
                    <!--link mystream, servidor video 2-->
                    <p><a class="btn btn-secondary btn-sm" href="https://mystream.to/dashboard/manager" target="_blank"><i class="fas fa-envelope mr-3">Link opc2 MyStream </i></a></p>
                    <input type="text" name="uri2" #uri2="ngModel" [(ngModel)]="film.uri2" class="form-control" >
                    <small *ngIf="!uri2.valid && uri2.touched" class="invalid-feedback d-block">
                        Video no válido.
                    </small>
                </div>
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="uri3">Link Opcion 3 UqLoad  </label>
                    <small class="form-text text-muted pb-1">Sube la peli y copia el link directo. </small>
                    <!--link UqLoad, servidor video 3-->
                    <p><a class="btn btn-secondary btn-sm" href="https://uqload.com/" target="_blank"><i class="fas fa-envelope mr-3">Link opc3 UqLoad </i></a></p>
                    <input type="text" name="uri3" #uri3="ngModel" [(ngModel)]="film.uri3" class="form-control" >
                    <small *ngIf="!uri3.valid && uri3.touched" class="invalid-feedback d-block">
                        Video no válido.
                    </small>
                </div>
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="uri4">Link Opcion 4 Vidia  </label>
                    <small class="form-text text-muted pb-1">Sube la peli y copia el link directo. </small>
                    <!--link Vidia, servidor video 4-->
                    <p><a class="btn btn-secondary btn-sm" href="https://vidia.tv/" target="_blank"><i class="fas fa-envelope mr-3">Link opc4 Vidia </i></a></p>
                    <input type="text" name="uri4" #uri4="ngModel" [(ngModel)]="film.uri4" class="form-control" >
                    <small *ngIf="!uri4.valid && uri4.touched" class="invalid-feedback d-block">
                        Video no válido.
                    </small>
                </div>
                <div class="form-group col-lg-4 col-sm-4">
                    <label for="uri5">Link Opcion 5 Jetload  </label>
                    <small class="form-text text-muted pb-1">Sube la peli y copia el link directo. </small>
                    <!--link JetLoad, servidor video 5-->
                    <p><a class="btn btn-secondary btn-sm" href="https://jetload.net/#!/" target="_blank"><i class="fas fa-envelope mr-3">Link opc5 JetLoad </i></a></p>
                    <input type="text" name="uri5" #uri5="ngModel" [(ngModel)]="film.uri5" class="form-control" >
                    <small *ngIf="!uri5.valid && uri5.touched" class="invalid-feedback d-block">
                        Video no válido.
                    </small>
                </div>
        
            </div>
            <input type="submit" value="Guardar" class="btn btn-success" [disabled]="newFilmForm.invalid" />
        </form>
    </div>
</body>




<app-footer></app-footer>
