.card-title, .synopsis{
    text-transform: capitalize;
    text-align: center;
}
.cartel, .eachSaga img{
    transition: transform .2s; /* Animation */
}

.cartel:hover, .eachSaga img:hover{
    transform: scale(1.4); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
   
}
.eachSaga img {
    max-width: 150px;
}
.new{
    border: solid 1px ;
    
}
.carousel-inner img{
    max-height: 27rem;
}


/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    .cartelera {
        width: 50%;
    }
   
}
  