
<div class="container">

    <!-- barra de navegación-->
    <app-navbar></app-navbar>
   
  <!--
    {{today | date: 'shortDate'}}
    {{expirationDateLogin | date: 'shortDate'}}
    -->

    <!--not loading-->
    <div class="col-11" *ngIf="!loading">
      <img class="card-img-top"  src="../../../assets/img/GOTWatchingTv.gif" alt="Loading">
    </div>
   
    <div class="mt-4 " *ngIf="loading">
       <!-- banners -->
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item ">
            <img src="../../../assets/promo/zombie.jpg" [routerLink]="['/search/zombie']"  (click)="goToaddActivity('banner','zombie')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h2 class="text-danger">Zombis, zombis y más zombis</h2> 
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/promo/robot2.jpg" [routerLink]="['/search/robot']" (click)="goToaddActivity('banner','robot')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3 >Robots, inteligencia artifial, tecnología ... ¿futuro o presente?</h3>
            </div>
          </div>
          <div class="carousel-item active">
            <img src="../../../assets/promo/timBurtonPromo.jpg" [routerLink]="['/search/tim burton']" (click)="goToaddActivity('banner','tim burton')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>¡Para los amantes de este director! </h4>
              <p>Sabrás porque es el mejor de todos</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../assets/promo/heroe.jpg" [routerLink]="['/search/heroe']" (click)="goToaddActivity('banner','heroe')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h4>Superhéroe vs Supervillano</h4>
            </div>
          </div>

          <div class="carousel-item">
            <img src="../../../assets/promo/carrera2.jpg" [routerLink]="['/search/carrera']" (click)="goToaddActivity('banner','carrera')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h3>Para vosotros corredores</h3>
            </div>
          </div>
          
          <div class="carousel-item">
            <img src="../../../assets/promo/spain2.jpg" [routerLink]="['/search/cine español']" (click)="goToaddActivity('banner','cine español')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1 class="text-danger">Cine español</h1>
            </div>
          </div>

          <div class="carousel-item">
            <img src="../../../assets/promo/stephenKing.jpg" [routerLink]="['/search/stephen king']" (click)="goToaddActivity('banner','stephen king')" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h1>¿Te cuento una historia?</h1>
            </div>
          </div>
      </div>


        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
      <!-- all films order by date created desc-->
      <div class="row justify-content-lg-justify h-auto text-white py-5">
        <div class="col-lg-2 cartelera  " *ngFor="let film of news">
          <div class="w-100 text-white cartel"  >
              <img class="card-img-top poster" [routerLink]="['/desc', film._id]"   src="https://i.imgur.com/{{film.img}}" alt="Poster film" width="180px">
              <h5 class="card-title title" >{{film.title}}</h5>
          </div>
        </div>
      </div>
       
      <!-- Sagas -->
      <div class="row justify-content-md-center mt-5 colection" >
        <h2 class=" w-100 mb-2 text-center d-block text-danger  colectionText" >Prepara palomitas</h2>
        <div class="col-lg-12 col-sm-6 my-1 eachSaga">
          <img [routerLink]="['/search/vengadores']" src="../../../assets/colections/avengers.png" (click)="goToaddActivity('saga','Los Vengadores')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/jurassic']" src="../../../assets/colections/Jurassic_Park_(franchise_logo).png" (click)="goToaddActivity('saga','Jurassic Park')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/resident evil']" src="../../../assets/colections/resident-evil-1-logo-png-3.png" (click)="goToaddActivity('saga','Resident Evil')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/muñeco diabolico']" src="../../../assets/colections/chucky.png" (click)="goToaddActivity('saga','El muñeco diabolico')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/fast & furious']" src="../../../assets/colections/fast-and-furious.png" (click)="goToaddActivity('saga','Fast and furious')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/harry potter']" src="../../../assets/colections/harry-potter-logo.png" (click)="goToaddActivity('saga','Harry potter')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/ice age']" src="../../../assets/colections/Ice age logo.png" (click)="goToaddActivity('saga','Ice age')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/insidious']" src="../../../assets/colections/insidious.png" (click)="goToaddActivity('saga','Insidious')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/payaso']" src="../../../assets/colections/it.png" (click)="goToaddActivity('saga','IT')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/jumanji']" src="../../../assets/colections/jumanji.png" (click)="goToaddActivity('saga','Jumanji')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/ligajusticia']" src="../../../assets/colections/justiceLeage.png" (click)="goToaddActivity('saga','La liga de la justicia')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/narnia']" src="../../../assets/colections/narnia.png" (click)="goToaddActivity('saga','Narnia')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/piratas del caribe']" src="../../../assets/colections/Pirates.png" (click)="goToaddActivity('saga','Los piratas del caribe')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/shrek']" src="../../../assets/colections/shrek.png" (click)="goToaddActivity('saga','Shrek')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/terminator']" src="../../../assets/colections/terminator.png" (click)="goToaddActivity('saga','Terminator')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/juegos del hambre']" src="../../../assets/colections/The-Hunger-Games-PNG.png" (click)="goToaddActivity('saga','Los juegos del hambre')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/karate kid']" src="../../../assets/colections/the-karate-kid.jpg" (click)="goToaddActivity('saga','Karate kid')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/crepusculo']" src="../../../assets/colections/the-twilight-saga-collection-57b2bfe039e30.png" (click)="goToaddActivity('saga','crepusculo')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/underworld']" src="../../../assets/colections/Underworld.png" (click)="goToaddActivity('saga','Underworld')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/villano favorito']" src="../../../assets/colections/villano-favorito.png" (click)="goToaddActivity('saga','GRU mi villano favorito')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/x-men']" src="../../../assets/colections/x-men-logo-png-transparent.png" (click)="goToaddActivity('saga','x-men')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/matrix']" src="../../../assets/colections/the-matrix.png" (click)="goToaddActivity('saga','Matrix')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/men in black']" src="../../../assets/colections/meninblack.png" (click)="goToaddActivity('saga','Men in Black')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/transformers']" src="../../../assets/colections/transformers.png" (click)="goToaddActivity('saga','Transformers')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/blade']" src="../../../assets/colections/blade.png" (click)="goToaddActivity('saga','Blade')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/marvel']" src="../../../assets/colections/marvel.png" (click)="goToaddActivity('saga','Marvel')" height="100"  alt="colection_log">
          <img [routerLink]="['/search/dc']" src="../../../assets/colections/DCUniverse.svg.png" (click)="goToaddActivity('saga','DC Universe')" height="100"  alt="colection_log">
          <img class="ml-2" [routerLink]="['/search/batzan']" src="../../../assets/colections/portada_trilogia-del-baztan-integral-blanco-y-negro-comic__202001151136.jpg" (click)="goToaddActivity('saga','Batzán')" height="100"  alt="colection_log">

        </div>
        
      </div>

    </div><!--end loading-->
   
</div><!--end container-->
<router-outlet></router-outlet>
<app-footer></app-footer>
