
<app-navbar></app-navbar>
<body>
    <div class="container">
        <h1 class="py-1">{{page_title}}</h1>

        <div class="alert alert-success col md-5 my-2" *ngIf="status=='success'">
            Bien!!, Usuario registrado correctamente.
        </div>
        <div class="alert alert-danger col md-5 my-2" *ngIf="status=='error'">
            Algo ha salido mal!, No se ha posido registrar al usuario, vuelve a intentarlo.
        </div>

        
        <form class="col-md-7 py-4" #registerForm ="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="form-group">
                <label for="name">Nombre *</label>
                <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required pattern="[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+"  >
                
                <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                    Nombre no válido, solo puede contener letras.
                </small>
            </div>
            <div class="form-group">
                <label for="surname">Apellidos *</label>
                <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required pattern="[a-zA-ZÀ-ÿ\u00f1\u00d1\s]+"  >
                
                <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                    Apellidos no válidos, solo pueden contener letras.
                </small>
            </div>
            <div class="form-group">
                <label for="nick">Nick *</label>
                <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" class="form-control" required pattern="([a-zA-Z0-9À-ÿ\u00f1\u00d1]+)"  >
                
                <small *ngIf="!nick.valid && nick.touched" class="invalid-feedback d-block">
                    Nick no válido. Permitido letras y/o números sin espacios.
                </small>
            </div>
            <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="micorreo@email.com">
                
                <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
                    Email no válido.
                </small>
            </div>
            <div class="form-group">
                <label for="password">Contraseña *</label>
                <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required pattern="[a-zA-Z0-9]+"  >
                
                <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
                    Contraseña no válida, permitido letras y números.
                </small>
            </div>
            <div class="form-group">
                <label for="bornDate">Fecha de nacimiento</label>
                <input type="date" name="bornDate" #bornDate="ngModel" [(ngModel)]="user.bornDate" class="form-control" placeholder="dd/mm/yyyy"  >
                
                <small *ngIf="!bornDate.valid && bornDate.touched" class="invalid-feedback d-block">
                    Fecha no válida.
                </small>
            </div>
            <div class="form-group">
                <label for="phone">Teléfono</label>
                <input type="text" name="phone" #phone="ngModel" [(ngModel)]="user.phone" class="form-control"  pattern="[0-9]{9}"  >
                
                <small *ngIf="!phone.valid && phone.touched" class="invalid-feedback d-block">
                    Teléfono debe constar de 9 dígitos.
                </small>
            </div>
            <div class="form-group">
                <label for="role">Rol *</label>
                <select class="custom-select" name="role" #role="ngModel" [(ngModel)]="user.role" required>
                    <option value="user">Usuario</option>
                    <option value="cooperative">Colaborador</option>
                    <option value="admin">Admin</option>
                  </select>
                
                <small *ngIf="!role.valid && role.touched" class="invalid-feedback d-block">
                    Rol no válido.
                </small>
            </div>

            <input type="submit" value="Registrar" class="btn btn-success" [disabled]="registerForm.invalid" />
        </form>
    </div>
</body>




<app-footer></app-footer>