
<head>
	<meta property="og:title" content="YETFLIX">
	<meta property="og:image" content="https://i.imgur.com/HrRdLJz.jpg" >
	<meta property="og:description" content="Plataforma streaming privada. ¡¡Que suerte tienes!!">
</head>	
<body >
	<router-outlet></router-outlet>
</body>
  
