<app-navbar></app-navbar>
<div class="container">
    <h1 class="py-1">{{page_title}}</h1>

    <div class="alert alert-success col md-5 my-2" *ngIf="status=='success'">
        Bien!!, Logueo correcto.
    </div>
    <div class="alert alert-danger col md-5 my-2" *ngIf="status=='error'">
        Algo ha salido mal!, Logueo Incorrecto, vuelva a intentarlo.
    </div>

    <form class="col-md-5 py-4" #loginForm ="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
          <label for="email">Email *</label>
          <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="micorreo@email.com">
          
          <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
              Email no válido.
          </small>
      </div>
      <div class="form-group">
          <label for="password">Contraseña *</label>
          <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required pattern="[a-zA-Z0-9]+"  >
          
          <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
              Contraseña no válida, permitido letras y números.
          </small>
      </div>

      <input type="submit" value="Login" class="btn btn-success" [disabled]="loginForm.invalid" />
    </form>
  </div>

<app-footer></app-footer>