<div class="container">

    <!-- barra de navegación-->
    <app-navbar></app-navbar>
    <h4 class="w-100 text-uppercase text-dark ">{{page_title}}</h4>


</div><!--end container-->
<router-outlet></router-outlet>
<app-footer></app-footer>
