
<!-- barra de navegación-->
<app-navbar></app-navbar>
    <body>
        <div class="container"> 
            <h2 class="w-100 text-uppercase text-danger text-center py-5 ">{{page_title}}</h2>
            <ul class="list-group list-group-flush center ">
                    <li class="list-group-item" *ngFor="let activity of activities">
                      <p>
                        <span class="text-secondary"> {{activity.date | date: 'short'}} </span>
                        <span class="text-success text-uppercase"> {{activity.user.nick}} </span>
                        <span *ngIf="activity.action == 'login' || activity.action == 'logout' || activity.action == 'busqueda' 
                              || activity.action == 'añadir peli' || activity.action == 'eliminar peli' || activity.action == 'editar peli' 
                              || activity.action == 'registro usuario' || activity.action == 'añadir reporte' || activity.action == 'modificacion de alerta'; 
                              else elseBlock"> ha realizado </span> 
                        <ng-template #elseBlock> ha visto </ng-template>
                        <span class="text-warning" > {{activity.action}}</span>
                        <span *ngIf="activity.complement != ' '" > de <span class="text-info" >   {{activity.complement}}</span></span>
                      </p>
                    </li>
            </ul>
        </div>
    </body>
<router-outlet></router-outlet>
<app-footer></app-footer>
