.descripcion h5{
    text-transform: uppercase;
}

.trailer{
    max-width:560px;
    max-height : 315px;
    min-width: 300px !important;
    min-height: 250px;
}

.sub{
    color:#b32d00;
    font-weight: bold;
}
.video{
    
    min-height: 350px ;
}




.tagcloud05 ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.tagcloud05 ul li {
	display: inline-block;
	margin: 0 0 .3em 1em;
	padding: 0;
}
.tagcloud05 ul li a {
	position: relative;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding: 0 1em;
	/*background-color: #17a2b8;*/
	background-color: #dc3545;
	border-radius: 0 3px 3px 0;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud05 ul li a::before {
	position: absolute;
	top: 0;
	left: -15px;
	content: '';
	width: 0;
	height: 0;
	/*border-color: transparent #17a2b8 transparent transparent;*/
	border-color: transparent #dc3545 transparent transparent;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	-webkit-transition: .2s;
	transition: .2s;
}
.tagcloud05 ul li a::after {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 2;
	display: block;
	content: '';
	width: 6px;
	height: 6px;
	margin-top: -3px;
	background-color: #fff;
	border-radius: 100%;
}
.tagcloud05 ul li span {
	display: block;
	max-width: 100px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.tagcloud05 ul li a:hover {
	/*background-color: #555;*/
	background-color: #bd2130;
	
	color: #fff;
}
.tagcloud05 ul li a:hover::before {
	/*border-right-color: #555;*/
	border-right-color: #bd2130;
}




/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
    .poster{
        min-width: 330px !important;
    }
    .trailer{
        width: 60%;
        min-width: 300px !important;
    }
    .vacio, .tagcloud05 {
        display: none;
    }
    .descripcion{
        min-width: 380px !important;
    }
    
    .btnVip{
        display: none;
    }
    .video{
        width: 50%;
        min-width: 300px !important;
    }

 }
