
<div class="container">
    <!-- barra de navegación-->
    <app-navbar></app-navbar>
    
    <div *ngIf="film" >
      <div class="row bg-dark text-white p-1">
        <div class="col-3 mt-1">
          <img class="card-img-top poster"   src="https://i.imgur.com/{{film.img}}" alt="Poster film" width="180px">
        </div>
        <div class="col pt-4 descripcion">
            <h5 class="card-title mt-2 text-danger" >{{film.title}}</h5>
            <p class="card-text mb-2" *ngIf="film.genre" > <i class="text-danger">Género:</i>  {{film.genre}}</p>
            <p class="card-text mb-2" *ngIf="film.long" ><i class="text-danger">Duración:</i> {{film.long}}</p>
            <p class="card-text mb-2" *ngIf="film.year" ><i class="text-danger">Año:</i> {{film.year}}</p>
            <p class="card-text mb-2" *ngIf="film.director" ><i class="text-danger">Director:</i> {{film.director}}</p>
            <p class="card-text mb-2 " *ngIf="film.actor" ><i class="text-danger">Reparto:</i> {{film.actor}}</p>
        </div>
        <div class="col-6 mt-2 mr-2 trailer" *ngIf='film.trailer'>
            <iframe width="550" height="305" class="trailer" [src]="genuineUrl2"  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="row m-1">
          <div class="col-4">
            <div class="tagcloud05 mt-3 " *ngIf="film.colection"> 
              <ul>
                <li *ngFor="let element of colectionList"><a [routerLink]="['/search', element]" ><span>{{element}}</span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-8 vacio" *ngIf='film.synopsis'>
              <p class="card-text synopsis">{{film.synopsis}}</p>
          </div>
        </div>  
      </div><!-- background  --> 

      <!--user logued ?? -->
      <div *ngIf="!identity">
        <h1 class="mx-0 text-white">Logueate para ver todo el contenido</h1>
      </div>
      
      <div class="row mt-3 " *ngIf="identity">
        <!-- Grid column botones alerta error, editar y borrar peli -->
          <div class="col-1 btnVip ">
            
            <button type="button" id="btnWarning" class="btn btn-lg btn-dark text-warning mt-5 " data-toggle="tooltip" data-placement="top" 
                    title="Si detecta algún error alertenos y lo arreglaremos YA, mientras disfrute de otra peli ;)"
                    (click)="clickWarning(identity.nick, film._id, film.title)">
              <svg class="bi bi-exclamation-triangle-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8.982 1.566a1.13 1.13 0 00-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5a.905.905 0 00-.9.995l.35 3.507a.552.552 0 001.1 0l.35-3.507A.905.905 0 008 5zm.002 6a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"/>
              </svg>
            </button>
            
            <button type="button" class="editar float-right  btn btn-dark text-warning  mt-5" [routerLink]="['/update', film._id]" *ngIf="vip" >Editar</button>
            <button type="button" class="editar float-right  btn btn-dark text-danger mt-5" (click)="clickMethod(film.title, film._id)" *ngIf="vip" >Borrar</button>
          </div>
          <div class="col-1"></div>
          <!-- 
            opcion1->Fembed ( YE -- por baneo e imposibilidad de crear nueva cuenta ya no esta activa x defecto)
            opcion2->mystream
            opcion3->uqload
            opcion4->vidia
            opcion5->jetload
          -->
          <div class="col-10 right" *ngIf='identity' >
              <ul class="nav nav-pills  nav-justified " id="pills-tab" role="tablist"  >
                <li class="nav-item " *ngIf='film.uri'>
                  <a class="nav-link bg-danger text-white " id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"  >Opción 1</a>
                </li>
                <li class="nav-item active" *ngIf='film.uri2'>
                  <a class="nav-link bg-danger text-white" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" >Opción 2</a>
                </li>
                <li class="nav-item " *ngIf='film.uri3'>
                  <a class="nav-link bg-danger text-white" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" >Opción 3</a>
                </li>
                <li class="nav-item " *ngIf='film.uri4'>
                  <a class="nav-link bg-danger text-white" id="pills-contact2-tab" data-toggle="pill" href="#pills-contact2" role="tab" aria-controls="pills-contact2" >Opción 4</a>
                </li>
                <li class="nav-item " *ngIf='film.uri5'>
                  <a class="nav-link bg-danger text-white" id="pills-contact3-tab" data-toggle="pill" href="#pills-contact3" role="tab" aria-controls="pills-contact3" >Opción 5</a>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent" *ngIf='film.uri || film.uri2 || film.uri3 || film.uri4 || film.uri5'>
                <div class="tab-pane fade  " id="pills-home" role="tabpanel" aria-labelledby="pills-one-tab" *ngIf='film.uri' >
                    <!-- pelicula opcion 1-->
                  <iframe class="w-100 video" [src]="genuineUrl3" allowfullscreen ></iframe>
                </div>
                <div class="tab-pane fade show  active" id="pills-profile" role="tabpanel" aria-labelledby="pills-two-tab" *ngIf='film.uri2'>
                  <!-- pelicula opcion 2-->
                  <iframe class="w-100 video" [src]="genuineUrl4" allowfullscreen ></iframe>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-three-tab" *ngIf='film.uri3'>
                  <!-- pelicula opcion 3-->
                  <iframe class="w-100 video" [src]="genuineUrl5" allowfullscreen></iframe>
                </div>
                <div class="tab-pane fade" id="pills-contact2" role="tabpanel" aria-labelledby="pills-four-tab" *ngIf='film.uri4'>
                  <!-- pelicula opcion 4-->
                  <iframe class="w-100 video" [src]="genuineUrl6" allowfullscreen></iframe>
                </div>
                <div class="tab-pane fade" id="pills-contact3" role="tabpanel" aria-labelledby="pills-five-tab" *ngIf='film.uri5'>
                  <!-- pelicula opcion 5-->
                  <iframe class="w-100 video" [src]="genuineUrl7" allowfullscreen></iframe>
                </div>
              </div>
        </div>
      </div><!-- identity -->
    </div><!-- film -->

  <app-footer></app-footer>    
        
      
</div><!-- container -->


